@model Lab10.ViewModels.ManageViewModel
@{
    ViewBag.Title = "Manage Employees";
    ViewBag.HeaderImageSrc = @Url.Content("~/Content/images/SAT.png");
    ViewBag.HeaderImageAlt = "School of Advanced Technology";
}

<div class="page-header">
    <h1>Manage Employees</h1>
</div>

<div id="resultNotification" class="alert">

</div>

<div id="addCourseWrap">
    @{ Html.RenderPartial("_AddEmployee"); }
</div>

<div class="page-header" style="margin-top: 50px;">
    <h3>Registered Employees</h3>
</div>

@Html.AjaxGrid(Url.Action("List", "Manage"))

@section Scripts
{
    <script type="text/javascript">
        $(function() {

            $(".mvc-grid").mvcgrid();

            // When the employee form is submitted
            $("#addEmployee").submit(function (e) {

                e.preventDefault();

                // If valid according to unobtrusive JS
                if ($(this).valid()) {

                    // Properties to send to controller
                    var properties = {
                        Id: $("#Id").val(),
                        Name: $("#Name").val(),
                        Email: $("#Email").val(),
                        Password: $("#Password").val()
                    };

                    // Request to post the employee
                    $.post(this.action, properties, function(data) {

                            // Determine which alert type to display
                            if (data.error === true) {
                                $("#resultNotification").removeClass("alert-success");
                                $("#resultNotification").addClass("alert-danger");
                            } else {
                                $("#resultNotification").removeClass("alert-danger");
                                $("#resultNotification").addClass("alert-success");
                            }

                        })
                        .success(function(data) {
                            $("#resultNotification").show().text(data.message).delay(4000);
                            $("#resultNotification").fadeOut("slow");

                            // Clear form fields
                            $("#Id").val("");
                            $("#Name").val("");
                            $("#Email").val("");
                            $("#Password").val("");

                            // Reload the registered employees
                            $(".mvc-grid").mvcgrid({
                                reload: true
                            });
                        });
                }
            });
        });

        // Only run when all AJAX requests are complete
        $(document).ajaxComplete(function () {

            // Unbind the previous click handler
            $(".btn-delete").unbind();

            // When delete is clicked
            $(".btn-delete").click(function (e) {

                // Stop the parent handler from firing
                if (e.stopPropagation) e.stopPropagation();

                // Get the clicked table row
                var tr = $(this).parent().parent();

                // Get the employee id of the current row
                var employeeId = tr.find(".employeeId").text();

                // Delete course
                $.ajax({
                    type: "POST",
                    url: "/Manage/Delete",
                    data: { employeeId: employeeId },
                    dataType: "json",
                    cache: false,
                    success: function(data) {

                        // Determine which alert type to display
                        if (data.error === true) {
                            $("#resultNotification").removeClass("alert-success");
                            $("#resultNotification").addClass("alert-danger");
                        } else {
                            $("#resultNotification").removeClass("alert-danger");
                            $("#resultNotification").addClass("alert-success");
                        }

                        // Reload the registered employees
                        tr.addClass("danger").fadeIn("slow");
                        tr.delay(500).fadeOut("slow", function () {
                            $(".mvc-grid").mvcgrid({
                                reload: true
                            });
                        });

                        // Display success message
                        $("#resultNotification").show().text(data.message).delay(4000);
                        $("#resultNotification").fadeOut("slow");

                        // Clear form fields
                        $("#Id").val("");
                        $("#Name").val("");
                        $("#Email").val("");
                        $("#Password").val("");

                    },
                    error: function(xhr, status, error) {
                        var err = eval("(" + xhr.responseText + ")");
                        alert(err.Message);
                    }
                });
});
        });

    </script>
}