@model Lab6.ViewModels.CourseViewModel

<div class="page-header" style="margin-top: 50px;">
    <h3>Registered Courses</h3>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Code</th>
            <th>Title</th>
            <th>Hours</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (!Model.RegisteredCourses.Any())
        {
            <tr>
                <td colspan="3">No course records found</td>
            </tr>
        }

        @foreach (var course in Model.RegisteredCourses)
        {
            <tr>
                <td>@course.CourseID</td>
                <td>@course.CourseTitle</td>
                <td>@course.HoursPerWeek</td>
                <td>Delete</td>
            </tr>
        }
    </tbody>
</table>
