/*
    Bootstrap Overrides
*/

.page-header {
    margin-top: 0;
}

.page-header h1 {
    margin-top: 0;    
}

/*
    Page Styles
*/

body {
    background-color: #F0F0F0;
}

#main {
    width: 660px;    
}

#resultNotification {
    display: none;
}

.mvc-grid-row:hover {
    cursor: pointer;    
}

.mvc-grid-row.selected {
    background-color: #428bca;
    color: #fff;
}

.mvc-grid-row.selected a {
    color: #fff;
}

.editAnchor {
    color: #026080;
    text-decoration: underline;
}

.deleteCourse {
    z-index: 9999;
}

nav .admin-menu {
    float: right !important;
    padding-right: 16px;
}

nav .admin-menu .loggedin_user_name {
    float: left;
    font-size: 1em;
    line-height: 55px;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    padding: 0 16px;
    border-left: 1px solid #555;
    border-right: 1px solid #555;
}

