@model Lab5.ViewModels.StudentViewModel

<div class="page-header" style="margin-top: 50px;">
    <h3>Registered Students in Offering</h3>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>

        @if (Model.Students.Any())
        {
            foreach (var student in Model.Students)
            {
                <tr>
                    <td>@student.Number</td>
                    <td>@student.Name</td>
                    <td>@student.ToString()</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3">No students registered in selected offering</td>
            </tr>
        }

    </tbody>
</table>

