@{
    ViewBag.Title = "Welcome";
    ViewBag.HeaderImageSrc = @Url.Content("~/Content/images/SAT.png");
    ViewBag.HeaderImageAlt = "School of Advanced Technology";
}

<div class="page-header">
    <h1>Course Registration</h1>
</div>

<h4>Welcome to Algonquin College's Course Registration System!</h4><br/>

@if (User.Identity.IsAuthenticated)
{
    <p>Use the side buttons to perform any of the following actions:</p>
    <ul>
        @if (User.IsInRole("Department Chair"))
        {
            <li>Add Courses</li>
            <li>Add Course Offerings</li>
            <li>Register Students</li>
            <li>Manage Employees</li>
        }

        @if (User.IsInRole("Coordinator"))
        {
            <li>Add Courses</li>
            <li>Add Course Offerings</li>
        }

        @if (User.IsInRole("Instructor"))
        {
            <li>Register Students</li>
        }
    </ul>
}
else
{
    <p>Please @Html.ActionLink("Login", "Login", "Account") to use this website</p>
}