@model Lab2.ViewModels.CartViewModel
@{
    ViewBag.Title = "Cart";
}

<h2>Shopping Cart</h2>
<hr/>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Title</th>
        <th>Quantity</th>
        <th>Subtotal</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var order in Model.BookOrders)
    {
        <tr>
            <td>@order.Book.Title</td>
            <td>@order.NumCopies</td>
            <td>$@order.SubTotal</td>
        </tr>
    }

    @if (Model.BookOrders.Count == 0)
    {
        <tr>
            <td colspan="3">There are no items in your shopping cart!</td>
        </tr>
    }
    else
    {
        <tr>
            <td>
                <strong>Total:</strong>
            </td>
            <td></td>
            <td colspan="3">
                <strong>$@Model.TotalAmountPayable</strong>
            </td>
        </tr>
    }

    </tbody>
</table>

<a class="btn btn-primary" href="@Url.Action("Index", "Store")">Continue Shopping</a>
<a class="btn btn-danger" href="@Url.Action("EmptyCart", "Store")">Empty Cart</a>