@using System.Reflection.Emit
@using Lab2.Models
@using Lab2.ViewModels
@model Lab2.ViewModels.BookViewModel
@{
    ViewBag.Title = "Index";
}

<h1>Welcome</h1>
<hr />
<p class="alert-info">Buy today to get free delivery to your classroom!</p>

<div class="row">
    <div class="col-lg-6">
        <section>
            <h4>Select a book</h4>
            <hr/>
            @using (Html.BeginForm(FormMethod.Post))
            {
                @Html.DropDownListFor(bookViewModel => bookViewModel.SelectedValue,
                         new SelectList(Model.BookData, "Id", "Title"), 
                    "Please select a book", 
                    new { @onchange = "this.form.submit();", @class = "form-control" })
                
                
                //@Html.LabelFor(model => model.Description, "Description", htmlAttributes: new { @class = "control-label" })
            }
            
        </section>

        <section>
            <h4>Description</h4>
            <hr />
            <p>

            </p>
        </section>
    </div>

    <div class="col-lg-5 pull-right"> 
        <section>
            <h4>Item Details</h4>
            <hr />
            <button type="button" class="btn btn-success btn-xs" disabled><i class="fa fa-check"></i> In stock!</button>
            <button type="button" class="btn btn-info btn-xs" disabled><i class="fa fa-dollar"></i> 19.99</button>

            <form class="order-form form-inline">
                <div class="form-group">
                    <label class="sr-only" for="quantity">Quantity</label>
                    <input type="text" class="form-control input-sm" id="quantity" placeholder="Enter quantity">
                </div>

                <button type="submit" class="btn btn-success btn-sm"><i class="fa fa-cart-plus"></i> Add to Cart</button>
            </form>
        </section>
    </div>
</div>